* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: steelblue;
}

body {
    font-size: 16px;
    font-family: Roboto:ital, Arial, sans-serif;
}

main img {
    width: 150px;
    height: auto;
    border: 1px;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

nav a {
    color: white;
    padding: 20px;
    display: block;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;

}

main {
    margin: 1rem;
    columns: 2;
}

main {
    display: block;
}

p {
    padding: 0;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside img {
    float: inline-start;
    width: 200px;
    height: auto;
}

p {
    padding: 0;
    margin: 1rem;
}

aside h2 {
    position: absolute;
    top: 45px;
    left: 150px;

}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

/* Class Selector */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;

}

aside {
    width: 20em;
    position: relative;
    grid-column: 1;
    grid-row: 1;
    border: 1px solid rgba(0 0 0 1);
}

aside {
    display: block;
}

.indent {
    padding-left: 2rem;
}

nav {
    display: flex;
}

.grid {
    display: grid;
    align-items: center;

}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}